$dotborder: 4px;
$dot: 9px;
$line: 1px;
$radius: 4px;
$sizecard: 258px;
$newSizeCard: 18.5%;

.description-body {
  padding-bottom: 15px;
  justify-content: space-between;
  .side-card-group {
    flex-basis: $newSizeCard;
  }
}

.space{
  padding-left: calculateRem(23px);
}

.risk {
  align-items: center;
}
.img-risk {
  padding-right: 11px;
}
.mid-risk{
  font-weight: 500;
  font-size: 14px;
  color: #3C3AB6;
}.high-risk{
  font-weight: 500;
  font-size: 14px;
  color: #B63A3A;
}.low-risk{
  font-weight: 500;
  font-size: 14px;
  color: #3AB65C;
}
.noStatus{
  padding: 2px 0;
  width: 89px;
  text-align: center;
  background: #F6F3FF;
  border-radius: 11px;
  font-weight: bold;
  font-size: 14px;
  color: #8C70FF;
}
.status{
  padding: 2px 0;
  width: 120px;
  text-align: center;
  border-radius: 11px;
  font-weight: bold;
  color: #F4B400;
  background: #FFF6DE;
}

.entries{
 position: relative;
 h3{
   font-weight: bold;
   font-size: 12px;
   position: relative;
   color: #25213B;
   padding-bottom: 5px;
   padding-left: 6px;
   &:before,
   &:after {
     position: absolute;
     display: block;
     top: 0;
   }

   &:after {
     background: #707070;
     border-radius: 50%;
     height: 6px;
     width: 6px;
     left: -5px;
     content: "";
     top: 5px;
   }
 }
 p{
   font-size: 12px;
   color: #878592;
 }
}

.location {
  h3{
    font-size: 12px;
    color: #25213B;
    font-weight: 500;
    padding-bottom: 5px;
  }
  p{
    font-size: 12px;
    color: #878592;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: minmax(calculateRem($sizecard), auto);
  grid-template-rows: auto 1fr;
  margin: 0 calculateRem($layout-padding) calculateRem(6px);
  row-gap: calculateRem(24px);
}

.card-container{
  justify-content: space-between;
}
.card {
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
  // height: calculateRem(113px);
  flex-basis: $newSizeCard;
  padding: calculateRem(11px);
  padding-left: calculateRem(17px);
  &-number{
    font-weight: 700;
    font-size: calculateRem(32px);
    letter-spacing:-0.44px;
    color: #19191D;
    line-height: 44px;
  }
  &-text{
    font-size: 16px;
    line-height: 36px;
    color: #9696A0;
  }
}

.card-holder{
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
  .header {
    align-items: center;
    padding: calculateRem(10px);
    .head-text {
      margin-left: calculateRem(16px);
      font-weight: 700;
      font-weight: bold;
      color: #000000;
    }
  }
}

.user-info {
   .listitem {
    list-style-type: none;
    padding-left: 12px;
    margin-bottom: 15px;
    &:last-child{
      padding-bottom: 22px;
    }
  }
  .activelist{
    color: #5771EE;
      text-decoration-line: underline;
  }
  a{
    color: #0F1A4F;
    padding-left: 19px;
    text-decoration: none;
    line-height: 140%;
    &:hover{
      padding-bottom:0;
      margin: 0;
      color: #5771EE;
      text-decoration-line: underline;
      
    }
  }
  
}

.timeline{
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  position: relative;
  text-align: left;
  list-style: none;
  margin-left: 12px;
  .event{
     padding-left: 12px;
     padding-right: 2px;
     border-left: $line dashed #C4C4C4;
     position: relative;
     h3{
       font-weight: bold;
       font-size: 12px;
       color: #747474;
       padding-bottom: 10px;
     }
     p{
       font-weight: bold;
       font-size: 12px;
       line-height: 140%;
       color: #A1AACE;
       padding-bottom: 20px;
       span{
         padding: 0 2px;
       }
     }
     &:last-child {
       padding-bottom: 22px;
       border-left: none;
     }
     &:before,
     &:after {
       position: absolute;
       display: block;
       top: 0;
     }
     &:after{
       background: #707070;
       border-radius: 50%;
       height: $dot;
       width: $dot;
       left: -5px;
       content: "";
       top: 5px;
     }
  }
}