/*
  TopNav Bar Style
  padding: calculateRem(26px) calculateRem(10.23px) calculateRem(6px) calculateRem(14.74px);
*/
$nav-padding: 10px;
$layout-padding: 26px;

.flex-item {
  display: flex;
  // flex-flow: row wrap;
}

.action {
  background: #DEEFFF;
  border-bottom:3px solid #006FD6;
  font-weight: bold;
  .nav-text{
    color: #006FD6 !important;
  }
}

.custom-nav{
  display: flex;
  width: 100%;
  height: calculateRem(52px);
  padding: 0 calculateRem($layout-padding) calculateRem(6px);
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(220, 225, 231, 0.572143);
  gap: 6px;
  justify-content: space-between;
  align-items: center;

  &-logo{
    align-items: center;
    .logo-text{
      font-weight: bold;
      padding-right: calculateRem(50px);
    }
  }
  &-list{
    list-style: none;
    li {
      margin-right: calculateRem(16.2px);
      cursor: pointer;
      padding: 19px 15px;
      img{
        padding-right: calculateRem($nav-padding);
      }
      .nav-text{
        color: #778699;
      }
    }
  }
  
  &-actions{
    align-items: center;
    .input-field {
      width: calculateRem(176px);
      background: #FFFFFF;
      border: 1px solid #DCE1E7;
      box-sizing: border-box;
      border-radius: 4px;
      padding-left: 15px;
      padding-top: 7px;
      padding-bottom: 5px;
      // height: calculateRem(36px);
      img{
        position: absolute;
      }
    }
    input{
      padding: 2px;
      border: none;
      padding-left: 21px;
      width: 100%;
      &:focus{
        outline: none;
      }
    }
    .bell,
    .avatar {
      margin-left: calculateRem(32.18px);
    }
    .avatar {
      background-color: #D8D8D8;
      height: 36px;
      width: 36px;
      border-radius: 100%;
      padding: 6px;
      img {
        padding-top: 3px;
        padding-left: 4px;
      }
    }
    .direction{
      margin-left: calculateRem(7px);
    }
  }

}

.breadcrumb {
  margin: 0 calculateRem($layout-padding) calculateRem(6px);
  padding: 10px 0;
  list-style: none;

  li {
    display: inline;
    color: #778699;
    line-height: 22px;

    img {
      margin: 0 7px;
    }
  }
}